/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
	 background-image: url("images/sky-bg.jpg");
	 background-size: cover; 
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	 background-position: center;	
	
}

.center {
    width: 600px;
	padding: 2%;
    margin: 100px auto;
 	background: rgba(236, 199, 143, 0.90
	 ); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 6px solid rgb(0, 0, 0);
	border-radius: 8px;
	  }
	
 
#logo {
    margin-bottom: 16px;
	border: none; 
	text-align: center;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	
	font-family: ff-providence-sans-web-pro, sans-serif;
	font-weight: 400;
	font-style: bold;
	font-size: 3em;
    margin: 0px auto 10px auto;
    color: rgb(0, 0, 0);
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	 font-family: ff-providence-sans-web-pro, sans-serif;font-weight: 700;
	 font-style: normal;
	font-size: 2em;
    line-height: 1.2;
    color: rgb(0, 0, 0);
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: ff-providence-sans-web-pro, sans-serif;
	font-size: 1.5em;
    line-height: 1.2;
    color: rgb(0, 0, 0);

}

nav {
	font-family: ff-providence-sans-web-pro, sans-serif;
	font-size: 1.5em;
	width: 500px; 
	margin: 0 auto;
	border: solid rgb(0, 0, 0);
	border-width: 3px 0;
	text-align: center;
	margin-top: 2em;
	
}

nav li{
	display: inline;
}
    
nav a{
	display: inline-block;
	padding: 10px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-weight: bold;

}

a:hover{
	color: black;
	background:white;
	
}
.marginbottom{
	padding-bottom: 45px;
}

.space{
	height: 50px;
}